
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='adminpage/css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Book</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='bookcss/bookstyle.css') }}">  
  <style>
    .error {
      color: red;

    }
  </style>
  <script>
    function allLetter(uname)
      { 
        var letters = /^[A-Za-z]+$/;
        if(uname.value.match(letters))
          {
            return true;
          }
        else
          {
            alert('Name must have alphabet characters only');
            uname.focus();
            return false; 
         }
      }
    
function allnumeric1(uzip)
{ 
var numbers = /^[0-9]+$/;
if(uzip.value.match(numbers)&&uzip.value.length==10)
{
return true;
}
else
{
alert('Invalid no');
uzip.focus();
return false;
}
}
function allnumeric2(uzip)
{ 
var numbers = /^[0-9]+$/;
if(uzip.value.match(numbers)&&uzip.value.length==12)
{
return true;
}
else
{
alert('Invalid  AAdhar no');
uzip.focus();
return false;
}
}

    function formValidation()
    {
      var uname = document.registration.name;
      var aadhar =document.registration.aadhar;
      var phone =document.registration.number;
      if(!allLetter(uname))
       {
          return false;
      }
      else if(!allnumeric1(phone))
      {
          return false;
      }
      else if(!allnumeric2(aadhar))
      {
          return false;
      }
      else
      return true;

    
    

    }
  </script>
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(static\adminpage\images\bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(static/adminpage/images/admin.png);"></div>
          <h3>ADMIN</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        
        <li>
          <a href="/add/"><span class="fa fa-book mr-3"></span>Add </a>
        </li>
        <li>
          <a href="/face/"><span class="fa fa-child mr-3"></span>Face Mask Detection</a>
        </li>
        <li>
          <a href="/human/"><span class="fa fa-user mr-3"></span>People Count</a>
        </li>
        <li>
          <a href="/search/"><span class="fa fa-user mr-3"></span>Search</a>
        </li>
        <li>
          <a href="/logout/"><span class="fa fa-user mr-3"></span>Logout</a>
        </li>
        
      </ul>

    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <header>
        <h1 class="heading"><center>Add People</center></h1><br>
        <div id="form">
          <form name="registration" onsubmit=" return formValidation();" action="{{url_for('adduser')}}" class="regform" method="POSt">
            <input type="text" placeholder="Name as in Aadhar" name="name">
            <p class="error"></p>
            
             <input type="number" placeholder="Phone No" name="number">
             <p class="error"></p>
            
             <input type="number" placeholder="Aadhar No" name="aadhar">
             <p class="error"></p>
     
             <input type="submit" value="ADD">
               
                 <input type="reset" id="clear" value="cancel">
               </form>
            
    </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>


    <script src=" {{ url_for('static',filename='bookjs/bookscript.js') }}"></script> 
  </body>
  
</html>




</html>

