<!doctype html>


<head><title>Test</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>  &nbsp; &nbsp; &nbsp; &nbsp;;<div> <h2> Welcome, {{ username}}</h2><a href="{{url_for('logout')}}">Logout</a>div>
        <br>
        <br>

        <form action="/human/">
            <input type="submit" value="Human count" />
        </form>
        <form action="/face/">
            <input type="submit" value="Face mask" />
        </form>
        <form action="/add/">
            <input type="submit" value="ADD" />
        </form>
        <form action="/search/">
            <input type="submit" value="Search" />
        </form>
     

    </body>