<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('search')}}" method="POSt">
        <label for="search">Search</label>
        <input type="date" name="date">
    

        <input type="submit" value="Search">

    </form>
    <table>

        <tr>
            <th>Name</th>
            <th>Aadhar</th>
            <th>Phone</th>
        </tr>

        {% for r in record %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>